/Electrodomésticos$TipoColor.class
/Electrodomésticos$TipoLetra.class
/Electrodomésticos.class
/Frigorificos$TipoFrigo.class
/Frigorificos.class
/Lavadoras.class
/Televisores$TipoTDT.class
/Televisores.class
